* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.data {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    margin-right: 0.2rem;
}

.btn {
    margin-top: 0.5rem;
    /* margin-left: 2.8rem; */
    width: 13rem;
    padding: 0.5rem;
}


input {
     margin-top: 0.5rem;
    padding: 0.5rem;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logs {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: rgba(181, 181, 181, 0.577);
    height: 100vh;
    padding-top: 5rem;
}

.get {
    background-color: rgb(255, 255, 255);
    height: 50vh;
    padding-top: 10rem;
}

.delete {
    background-color: rgba(247, 54, 54, 0.701);
    height: 50vh;
    padding-top: 10rem;
}

.put {
    background-color: rgb(78, 137, 240);
    height: 50vh;
    padding-top: 10rem;
}

.post {
    background-color: rgb(65, 237, 105);
    height: 50vh;
    padding-top: 10rem;
}

